<div class="widget widget-tabs">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#notice"
			aria-controls="notice" role="tab" data-toggle="tab" draggable="false">统计信息</a></li>
		<li role="presentation"><a href="#contact"
			aria-controls="contact" role="tab" data-toggle="tab"
			draggable="false">联系站长</a></li>
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane contact active" id="notice">
			<h2>日志总数: 888篇</h2>
			<h2>
				网站运行: <span id="sitetime">88天 </span>
			</h2>
		</div>
		<div role="tabpanel" class="tab-pane contact" id="contact">
			<h2>
				QQ: <a href="" target="_blank" rel="nofollow" data-toggle="tooltip"
					data-placement="bottom" title="" draggable="false"
					data-original-title="QQ:577211782">577211782</a>
			</h2>
			<h2>
				Email: <a href="mailto:577211782@qq.com" target="_blank"
					data-toggle="tooltip" rel="nofollow" data-placement="bottom"
					title="" draggable="false"
					data-original-title="Email:577211782@qq.com">577211782@qq.com</a>
			</h2>
		</div>
	</div>
</div>